@import url("https://fonts.googleapis.com/css2?family=Gotham:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    background-repeat: no-repeat;
    background-attachment: fixed;
    -ms-overflow-style: none;
    overflow: auto;
    scroll-behavior: smooth;
    animation: fadeIn 1s ease-in-out forwards;
    background-image: url("./assetpack/bg-varation.png");
    background-size: cover;
    color: #fff;
}

/* ----------------------------------- */
.navbar {
    overflow: hidden;
    padding: 20px 10px;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.header-right-container {
    display: flex;
    justify-content: center;
    margin-right: 200px;
}

.logo {
    cursor: pointer;
}

[class~=navbar] a {
    font-family: "Poppins", sans-serif;
    font-size: .291666667in;
    margin-right: 100px;
    text-decoration: none;
    transition: color .3s ease;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .navbar a {
        float: none;
        display: block;
        margin-right: 0;
    }

    .header-right {
        width: 100%;
        float: none;
    }

    .header-right-container {
        margin-right: 0;
        display: block;
    }
}

/* --------------------------------------- */
.main-part {
    padding: 0 3%;
    display: flex;
    align-items: center;
}

.first-part {
    width: 30%;
    font-weight: bold;
}

.second-part {
    width: 30%;
}

.third-part {
    width: 40%;
}

.center-logo {
    opacity: 90%;
    width: 100%;
}

@media screen and (max-width:1000px) {
    .main-part {
        display: block;
    }

    .main-part>div {
        width: 100%;
    }

    .center-logo {
        width: 50%;
        padding-left: 25%;
    }
}

@media screen and (max-width:768px) {
    .center-logo {
        width: 70%;
        padding-left: 15%;
    }
}

[class~=navbar] a:hover,
[class~=navbar] [class~=active] {
    color: #eb4a4a;
    text-shadow: .75pt 0px 17px rgba(255, 0, 0, .5);
}

a {
    color: white;
    text-decoration: none !important;
}

[class~=starting-text] {
    font-family: "Gotham";
    font-size: 64px;
    margin: 20px 0;
}

[class~=middle-txt] {
    display: flex;
    font-size: 64px;
    margin: 40px 0;
}

[class~=middle-text] {
    text-shadow: .75pt 0px 17px rgba(255, 0, 0, .5);
    font-family: "Gotham";
    margin-left: 40px;
    color: #eb4a4a;
}

[class~=non-bold] {
    font-family: "Poppins";
    font-weight: light;
    font-size: .354166667in;
}

[class~=cricles] {
    position: relative;
    margin-left: -50px;
}

[class~=cricles] [class~=small-circle] img {
    left: 1.385416667in;
    top: -.729166667in;
    position: relative;
}

[class~=right-container] {
    font-family: "Inter";
    text-shadow: .0625pc 0pt 12.75pt rgba(255, 255, 255, .9);
}

[class~=right-part] {
    text-shadow: .0625pc 0in .177083333in rgba(255, 0, 0, 2);
    color: #eb4a4a;
    font-weight: normal;
    font-size: 27px;
}

[class~=right-part-2] {
    font-size: 43px;
}

[class~=right-part-3] {
    font-weight: Medium;
    font-size: .229166667in;
    opacity: 50%;
}

[class~=button]:hover [class~=button__icon-wrapper] {
    color: #000;
    opacity: 100%;
}

[class~=button]:hover [class~=button__icon-svg--copy] {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
}

[class~=button] {
    font-family: "Inter";
    opacity: 25%;
    border-radius: 14px;
    padding: .75em 1.5rem;
    overflow: hidden;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    color: #fff;
    background-color: #eb4a4a;
}

[class~=button]:hover {
    opacity: 100%;
}

[class~=button__icon-wrapper] {
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
    width: 25px;
    height: 18.75pt;
}

[class~=button__icon-svg--copy] {
    position: absolute;
    transform: translate(-150%, 150%);
}

[class~=fotter-socials] {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 11.25pt;
    margin-top: 50px;
    margin-left: 3%;
    width: 34px;
}

[class~=fotter-socials] [class~=facebook-logo] img {
    position: relative;
    left: 3pt;
}

[class~=fotter-socials] [class~=insta-logo] img {
    position: relative;
    left: -3pt;
}

[class~=behance-logo] {
    align-items: center;
    display: flex;
    justify-content: center;
}

[class~=behance-logo-heading] {
    display: flex;
    justify-content: center;
    font-family: "Gotham";
    font-size: 24px;
}

[class~=behance-logo-heading]:hover {
    text-shadow: 1px 0pt .177083333in rgba(255, 0, 0, .5);
    transition: color .3s ease;
}

[class~=button]:hover [class~=button__icon-svg]:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}